.odd {
   background-color: rgb(237, 50, 118);
   font-family: Verdana, "DejaVu sans", sans-serif; 
} 

#second {
    color: blue;
    font-size: 36px;
}

.large {
    font-size: 24px;
}

#fourth {
    background-color: rgb(128, 219, 92);
    font-size: 24px;
    font-weight: bold;
}